# === Node ===
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# === Environment Files ===
.env
.env.local
.env.production
.env.development

# === Build Output ===
dist/
build/
.cache/
.next/
out/



# === OS / IDE ===
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
