{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="main-content">
    <section class="wrapper main-wrapper">

        <!-- Page Title -->
        <div class="col-xl-12">
            <div class="page-title">
                <div class="float-left">
                    <h1 class="title">
                        {% if form.instance.pk %}Edit Most Popular{% else %}Add New Most Popular{% endif %}
                    </h1>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <!-- Form Section -->
        <div class="col-xl-12">
            <section class="box">
                <header class="panel_header">
                    <h2 class="title float-left">
                        {% if form.instance.pk %}Update Most Popular Details{% else %}Create New Most Popular{% endif %}
                    </h2>
                </header>

                <div class="content-body">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-9 col-12">
                            <form method="post" class="w-100 mt-3">
                                {% csrf_token %}

                                {% for field in form %}
                                    <div class="form-group mb-3">
                                        {{ field.label_tag }}
                                        {{ field }}
                                        {% if field.help_text %}
                                            <small class="form-text text-muted">{{ field.help_text }}</small>
                                        {% endif %}
                                        {% if field.errors %}
                                            <div class="text-danger small">{{ field.errors }}</div>
                                        {% endif %}
                                    </div>
                                {% endfor %}

                                <div class="mt-4">
                                    <button type="submit" class="btn btn-primary">
                                        {% if form.instance.pk %}Update{% else %}Save{% endif %}
                                    </button>
                                    <a href="{% url 'most_popular_list' %}" class="btn btn-secondary">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </section>
</section>
{% include 'page_header.html' %}

{% endblock %}
